alias rm_cassettes_spec="rm -rf spec/cassettes"
alias rm_cassettes_features="rm -rf features/cassettes"
alias rm_cassettes="rm_cassettes_spec && rm_cassettes_features"

alias vim_shortcuts="open $DOT_FILES/vim-shortcuts.png"
